@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@400;700;900&display=swap');

:root {
  --ff-size: 16px;
  --ff-primary: 'Lato', sans-serif;
  --ff-secondary: 'Poppins', sans-serif;
  --font-thin: 300;
  --font-regular: 400;
  --font-bold: 700;
  --font-bolder: 900;
  --clr-neutral: #fff;
  --clr-accent: #e9ecef;
  --clr-highlight: #d8f4f3;
  --clr-gray: #212529;
  --clr-button: #398279;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--ff-primary);
  font-size: var(--ff-size);
}

a {
  text-decoration: none;
}

article {
  margin-block: 3rem;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.container {
  width: 95%;
  margin-inline: auto;
}

.content__align {
  display: flex;
  flex-direction: column;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Utility */

.align__center {
  text-align: center;
}

/* Header */

header {
  background-color: var(--clr-accent);
}

.header__nav {
  display: flex;
  padding: 1rem 0;
}

.nav__list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-inline: auto;
}

.nav__item {
  font-family: var(--ff-secondary);
  font-size: 1.1rem;
  font-weight: var(--font-bold);
  color: var(--clr-gray);
  text-transform: uppercase;
}

/* Main */
/* Article 1 */

.article__title {
  font-size: 4.5rem;
  font-weight: var(--font-thin);
  line-height: 1.6;
}

.article__subtitle {
  font-size: 1.5rem;
  font-weight: var(--font-regular);
  line-height: 1.4;
}

.img__rounded {
  border-radius: 100%;
  padding: 2rem 0;
}

.article__content {
  font-family: var(--ff-secondary);
  font-weight: var(--font-bold);
  margin-bottom: 2rem;
}

.btn__cta {
  font-size: 1.5rem;
  line-height: 1.6;
  background-color: var(--clr-button);
  color: var(--clr-neutral);
  text-transform: capitalize;
  border-radius: 0.5rem;
  margin-inline: auto;
  padding: 0.5em 1em;
}

.btn__cta:hover {
  background-color: var(--clr-gray);
}

/* Article 2 */

.article__title--second {
  font-size: 3rem;
  font-weight: var(--font-bold);
}

.project__title {
  font-size: 1.4rem;
  line-height: 1.6;
}

.project__subtitle {
  font-size: 1.2rem;
  line-height: 1.4;
}

.col__card {
  margin-block: 2rem;
  box-shadow: 0px 10px 7px 2px rgba(0,0,0,0.1);
}

/* Footer */

footer {
  background-color: var(--clr-highlight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-block: 3rem;
}

.footer__title {
  text-transform: capitalize;
  font-weight: var(--font-regular);
}

.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.footer__nav__item {
  text-align: center;
  text-transform: capitalize;
  line-height: 1.6;
  font-weight: var(--font-regular);
  color: var(--clr-neutral);
}

@media (min-width: 800px) {
  .content__align {
    flex-direction: row;
    gap: 1rem;
  }
  
  .col {
    flex-basis: 100%;
  }

  .col__card {
    justify-content: flex-start;
  }

  .col__card img {
    max-width: auto;
    height: 100%;
  }
}

@media (min-width:1100px) {
  .container {
    width: 1100px;
  }
}
